@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bungee+Shade&display=swap');

:root {
  --light-black: #181818;
  --strong-red: #FF0000;
  --default-black: #101010;
  --dark-red: #480000;
  --more-light-black: #373737;
  --dark-text: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  font-weight: 600;
  font-style: italic;
  width: 40%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

.scrolled-50px {
  transition: color 0.1s;
  color: rgba(255, 255, 255, 0.05);
}

nav ul {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 15px 20px 10px 20px;
  color: rgba(255, 255, 255, 0.3);
  transition: background 0.3s, box-shadow 0.8s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.3s ease-out;
}

nav {
  width: 100%;
}
nav a {
  font-size: 20px;
  transition: 0.4s;
}

nav a:hover{
  text-shadow: white 0 0  4px;
  color: white;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.aba-ativa {
  color: white;
}

.point-header {
  background-color: var(--strong-red);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  opacity: 0;
  transition: 0.3s;
}

.aba-ativa .point-header {
  opacity: 1;
}

section {
  margin: 0 auto;
}

section h2 {
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  padding: 15px;
  font-size: 1.2em;
}

.subtitulo-maior {
  font-size: 50px;
  color: white;
}

.subtitulo-menor {
  font-size: 30px;
  margin: 0 !important;
  color: hsla(0, 0%, 100%, 0.4);
}

.sobreMim {
  background-color: var(--light-black);
  background-image: url('/images/fundoSobre.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.textFundoSobreMim {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 500;
  position: absolute;
  left: -130px;
  bottom: 50px;
  z-index: 0;
  font-size: 400px;
  line-height: 1;
  opacity: 0.05;
  color: var(--strong-red);
  user-select: none;
}

.about-section {
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sobreFotoNome {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  height: 70%;
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.3s ease-in-out;
}

.sobreFotoNome-fechado {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  height: 70%;
  clip-path: inset(0 0 0 100%);
  transition: clip-path 0.4s ease-in-out;
}

.profile-image {
  align-self: flex-start;
  padding: 0;
}

.profile-image img {
  margin: 0;
  width: 350px;
  min-height: 350px;
  overflow: visible;
}

.profile-nome {
  align-self: flex-end;
}

.profile-nome p {
  color: white;
  font-size: 35px;
  line-height: 1.2;
}

.profile-nome h1 {
  color: var(--strong-red);
  font-size: 66px;
  font-weight: 800;
  line-height: 1.2;
}

.bio {
  flex: 1;
  z-index: 1;
  font-family: "Archivo Narrow", sans-serif;
}

.bio p {
  margin-bottom: 10px;
}

.textoGaveta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  border-left: white solid 3px;
  padding-left: 30px;
  gap: 10px;
  max-width: 100%;
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.3s ease-in-out;
}

.textoGaveta-fechada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 10px;
  overflow: hidden;
  clip-path: inset(0 99% 0 0);
  transition: clip-path 0.4s ease-in-out;
  border-left: white solid 3px;
  height: 70%;
}

.sobreTexto {
  word-wrap: break-word;
  font-size: 30px;
  color: hsla(0, 0%, 100%, 0.8);
}

.call-to-action {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.skillsProjects {
  background-image: url('/images/fundoSkills.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Archivo Narrow", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.projects-section {
  background-color: var(--light-black);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-assets {
  width: 70%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
  height: 60vh;
}

.project-card {
  background-color: var(--more-light-black);
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  padding: 20px;
  color: white;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card p {
  color: rgba(255, 255, 255, 0.6);
}

.project-image img {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.principaisTec {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.principaisTec img {
  width: 35px;
  height: 35px;
}

.skills-section {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.divHabilidades {
  width: 70%;
  height: 30vh;
  border-left: white solid 3px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.divClasseHabilidades {
  width: 60%;
  height: 37vh;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.divClasseHabilidades img {
  width: 55px;
}

.divClasseHabilidades .classeHabilidadeImage {
  background-color: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.divClasseHabilidades .frontedLogo {
  width: 53px;
}

.divClasseHabilidades .fronted, .divClasseHabilidades .backend {
  background-color: var(--more-light-black);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  padding: 10px 20px 40px 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
}

.divClasseHabilidades div {
  text-align: center;
}

.divClasseHabilidades h4 {
  line-height: 1.4;
  font-size: 30px;
  color: white;
}

.divFundoSkills {
  background-color: var(--light-black);
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 27vh;
  z-index: 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, background 0.3s;
}

.skill-name {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
}

.skill-image img {
  width: 60px;
}

.contact {
  background-color: var(--more-light-black);
  display: flex;
  justify-content: center;
  height: 65vh;
  font-family: "Archivo Narrow", sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 70%;
}

.contact-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  margin-right: 15px;
  font-size: 24px;
}

.texto-contato {
  font-size: 20px;
  width: 70%;
  color: hsla(0, 0%, 100%, 0.6);
}

.social-links {
  display: flex;
  width: 26%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  color: white;
}

.social-links img {
  width: 26px;
}

.social-links .email-contact {
  text-decoration: underline;
  font-size: 24px;
  line-height: 1;
}

.social-links a {
  display: flex;
  align-items: center;
}

footer {
  background-color: var(--default-black);
  text-align: center;
  padding: 30px;
  color: white;
  border-bottom: solid 10px var(--dark-red);
}

@media (min-width:1024px) and (max-width:1440px) {
  nav a {
    font-size: 15px;
  }

  .subtitulo-maior {
    font-size: 40px;
  }

  .subtitulo-menor {
    font-size: 25px;
  }

  .sobreTexto {
    word-wrap: break-word;
    font-size: 25px;
    color: hsla(0, 0%, 100%, 0.8);
  }
}

@media (max-width:1024px) {
  .sobreFotoNome {
    height: 55%;
  }

  .sobreFotoNome-fechado {
    height: 55%;
  }

  .profile-image img {
    margin: 0;
    width: 200px;
    min-height: 200px;
    overflow: visible;
  }

  .profile-nome p {
    color: white;
    font-size: 20px;
    line-height: 1.2;
  }

  .profile-nome h1 {
    color: var(--strong-red);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
  }

  nav {
    & a{
    font-size: 13px;
    transition: 0.4s;
    }
  }


  header {
    width: 40%;
  }

  .subtitulo-maior {
    font-size: 31px;
    color: white;
  }

  .subtitulo-menor {
    font-size: 17px;
  }

  .sobreTexto {
    word-wrap: break-word;
    font-size: 19px;
    color: hsla(0, 0%, 100%, 0.8);
  }
}